<template name="waiting">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <span class="text-center">When you and your {{remain}} friends are ready . . . </span>
        <form>
          <input style="margin-top: 15px; margin-bottom: 15px" type="submit" value="adventure on" class="btn btn-primary"/>
          <br/>
          <!-- <span class="text-left">There are {{remain}} people waiting for this game to start...</span> -->
        </form>
        <span class="text-center"> . . . and find the ninjas first!</span>
      </div>
    </div>
  </div>
</template>
