<template name="play">
  <div id="game">
  	<div id="map">
	    <img id="bg" src='bg.jpg'/>
	    <input id="goal" type="button" value="tap me!" class="btn btn-primary"/>
	 </div>
  </div>
	<!-- <input id="left" type="button" value="Left" class="btn btn-primary navhelp"/>
	<input id="up" type="button" value="Up" class="btn btn-primary navhelp"/>
	<input id="down" type="button" value="Down" class="btn btn-primary navhelp"/>
	<input id="right" type="button" value="Right" class="btn btn-primary navhelp"/> -->
</template>
